div#profile-image{
	float: right;
}

div#profile-image img{
	border-radius: 10px 10px 10px 10px;
}

@font-face{
	font-family: robotoLight;
	src: url('../font/Roboto-Light.ttf');
}

@font-face{
	font-family: robotoThin;
	src: url('../font/Roboto-Thin.ttf');
}

@font-face{
	font-family: robotoBold;
	src: url('../font/Roboto-Bold.ttf');
}

body{
	font-family:robotoThin;
	font-weight:bold;
	background-color:black;
	color:#B86125;
}

h2{
	font-style:italic;
	color:#862633
}

h3{
	font-family:robotoBold;
	font-style:italic;
	color:#041E42;
	text-decoration:underline;
}

a{
	text-decoration: none;
	color: #ffa300;
}

a:hover{
	text-decoration: underline;
	color:#5C88DA;
}

nav#nav-bar{
	margin-left: auto;
	margin-right: auto;
	width: 700px
}

nav a{
	width: 30px;
}

nav li{
	font-size: 20px;
	list-style-type: none;
	padding-right: 20px;
	float: right;
}
